.left-panel {
    width: 220px;
}

.left-panel__image {
    position: relative;
    border: 2px solid #DB9351;
}

.left-panel__check-img {
    position: absolute;
    top: 20px;
    left: 20px;
}

.left-panel__buttons-field {
    min-height: 120px;
    background-color: #1D1C1C;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-bottom: 2px solid #242424;
}

.left-panel__buttons-field.special {
    background-color: #DB9351;
}

.left-panel__mobile {
    display: none;
}

@media(max-width: 990px) {
    .left-panel {
        width: 150px;
    }
}

@media(max-width: 730px) {
    .left-panel {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        max-width: 500px;
    }

    .left-panel__buttons-field {
        min-height: auto;
    }

    .left-panel__image {
        width: 150px;
    }

    .left-panel__avatar {
        object-fit: cover;
    }

    .left-panel__desktop {
        display: none;
    }

    .left-panel__mobile {
        display: flex;
        align-items: center;
    }

    .left-panel__item.special>a {
        padding-left: 35px !important;
        text-align: left !important;
    }
}